

.row.content {height: 900px}
    
/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;
font-weight: bold;
} 
}

ul#menu-academico-sub {
  z-index: 999;
}
li#menu-academico{
z-index: 999;
}


.top button{

  margin:0 20px;
  font-weight: 520;
  background-color:none;
  border: thin;
  color: green;
  padding: 7px 8px;
  text-decoration: none;
}

.top button:hover{
background: green;
color: white;
}

.top #active{
  background: green;
color: white;
}

.col-sm-10 #next{

margin-top: -76px;
margin-left: 500px;


}

#Unread{

  margin-top: 20px;
}


 .col-sm-12{
text-align:center;

 }

table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
 td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
      font-weight: normal;
    }
tr:nth-child(even) {
      background-color: #eee7e7;
    }

